.hero {
  background-image: url("../assets/images/hero.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  background-attachment: fixed;

  background-repeat: no-repeat;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay-color);
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  color: var(--primary-color);
  position: relative;
  z-index: 1;
  padding: 0 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cta-button {
  padding: 12px 24px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.cta-button.primary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.cta-button.secondary {
  background-color: var(--secondary-light);
  color: var(--text-color);
}

.cta-button:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .hero {
    background-attachment: scroll;
  }
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .cta-buttons {
    flex-direction: column;
  }
}
